<!DOCTYPE html>
<html>
  <head>
    <h1>Update your Article</h1>
  </head>
  <body>
    <form action='/articles/:id' method='POST'>
      <label for='title'>Title:</label>
      <input type='text' id='text' value=''
    </form>
  </body>
</html>